################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Files to ignore
*.suo
*.applicationhost.config
*.suo
