body {
	background-color: #E3E2E1;
}

li {

}

#header {	
    clear: both;
	width: 100%;
    min-height: 250px;
	height: auto;
	background-color: #2E2E2E;
	background: linear-gradient(to bottom, #2E2E2E, #585858);
	margin: 0;
    padding: 0;		
}

div#header ul li {	
	display: inline-block;	
	font-size: 20px;
	padding-right: 25px;
    height: auto;
}

#headerbar {	    
	clear: both;
    width: 100%;
	height: 50px;
	background-color: #04B404;
	margin: 0 0 0 0;
    padding: 0;	
}

div#headerbar ul li {	
	display: inline-block;	
	font-size: 20px;
	padding-right: 25px;
    width: auto;
}

#footer {
    background-color: #2E2E2E;
	width: 100%;
    min-height: 220px;
	height: auto;	
	clear: both;
    margin: 0px;   	
}

div#footer ul li {
	font-size: 20px;
	text-align: center;
    list-style: none;
    float: left;
    clear:left;
    height: 28px;
    width: 147px;
}

div#footer ul li strong {
	font-size: 25px;
    color: white;
    text-decoration: underline;
	text-align: center; 
}
/*Added div class .aboutus to pgAbout.aspx - but wont appear when using browser. M.Steele*/
.aboutus { 
    display: inline-block;
    width: 650px;
    margin-left: 250px;
    margin-bottom: 150px;
    background-color: transparent;
    word-wrap: break-word;
    color: darkblue;
}

.label, .textbox {
    display: inline;
}

.container {
    width: 96%;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
    display: block;
    box-sizing: border-box;
}

.grid_2{
    width: 15%;
    float: left;
	display: inline-block;
	box-sizing:border-box;
    padding: 5px;
}

.grid_4 {
    width: 32%;
    float: left;
	display: inline-block;
	box-sizing:border-box;
    padding: 5px;
}

.grid_8 {
    width: 66%;
    float: left;
	display: inline-block;
	box-sizing:border-box;
    padding: 5px;
}

.grid_10 {
    width: 83%;
    float: left;
	display: inline-block;
	box-sizing:border-box;
    padding: 5px;
}
.content {
    display: inline-block;
    width: 126px;
    min-height: 217px;
    height: auto;
    background-color: transparent;
    word-wrap: break-word;
    float: left;
    margin-right: 0px;
    margin-top: 4px;
    font-size: 25px;
    opacity: 1;
    margin-left: 18px;
}

.floatLeft {
    float: left;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 7px;
}

.floatRight {
    display: block;
    float: right; 
    clear: right;
    width: 704px;
    min-height: 120px;
    height: auto;
    margin-top: 84px;
}

/*Added div class .aboutus to pgAbout.aspx - but wont appear when using browser. M.Steele*/
.login { 
    display: inline-block;
    text-align: center;
    width: 650px;
    margin: auto;  
    padding: 1%;  
    background-color: transparent;
    word-wrap: break-word;
    color: darkblue;
}

.login2 { 
    display: inline-block;
    text-align: center;
    width: 750px;
    margin: auto;  
    padding: 1%;  
    background-color: transparent;
    word-wrap: break-word;
    color: darkblue;
}

.loginContainer { 
    display: inline-block;
    text-align: center;
    float: left;    
    margin: 0px;
    width: 200px;     
    padding: 1%;  
    background-color: transparent;
    word-wrap: break-word;
    color: darkblue;
}

.loginCenter { 
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: auto;    
    background-color: transparent;   
}

.navbar {		
    float: right;
	right: 1%;
	z-index: 1;
    height: auto;
    width: 725px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.navbar2 {	          		
	z-index:1;
    width: 768px;    
    height: auto;     
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 14px;
    padding-top: .15px
}

.center {	   
    left: 20%;
	top: 50%;	
    height: auto;
}

.userFeedbackCenter {	
    display: inline-block;   
    margin: auto;
    text-align: center;
    width: 100%;
}

/*Hyperlink and Linkbutton style*/
a.headerLink:link {
    color: white; 
    text-decoration: none
}

a.headerLink:visited {
    color: white; 
    text-decoration: none
}

a.headerLink:hover {
    color: red; 
    text-decoration: none
}

a.headerLink:active {
    color: white; 
    text-decoration: none
}

a.navbarLink:link {
    color: white; 
    text-decoration: none
}

a.navbarLink:visited {
    color: white; 
    text-decoration: none
}

a.navbarLink:hover {
    color: black; 
    text-decoration: none
}

a.navbarLink:active {
    color: red; 
    text-decoration: none
}

a.footerLink:link {
    color: white; 
    text-decoration: none
}

a.footerLink:visited {
    color: white; 
    text-decoration: none
}

a.footerLink:hover {
    color: red; 
    text-decoration: none
}

a.footerLink:active {
    color: white; 
    text-decoration: none
}

.GridViewEditRow {width:5px;} 

.trophy, .trophy1, .trophy2, .trophy3, .trophy4, .Teeshirt, .plaques, .plaque1, .plaque2, .plaque3{
    color: darkblue;
    background-color: white;
}
