body {
	background-color: #E3E2E1;
}

li {

}

div#header ul li {	
	display: inline;	
	font-size: 20px;
	padding: 25px;
}

div#headerbar ul li {	
	display: inline;	
	font-size: 20px;
	padding: 25px;
}

div#footer ul li {
	font-size: 20px;
	text-align: center;
    list-style: none;
    float: left;
    clear:left;
}

div#footer ul li strong {
	font-size: 25px;
    color: white;
    text-decoration: underline;
	text-align: center; 
}


#header {	
	width: 100%;
	height: 150px;
	background-color: #2E2E2E;
	background: linear-gradient(to bottom, #2E2E2E, #585858);
	margin: 0;
    padding: 0;		
}

#headerbar {	
	width: 100%;
	height: 50px;
	background-color: #04B404;
	background: radial-gradient(#04B404, #01DF01);
	margin: 0;
    padding: 0;	
}

#footer {
    background-color: #2E2E2E;
	width: 100%;
	height: 200px;
	position: relative;
	clear: both;
	bottom: 0;
	left: 3px;
}

.content {
display: inline-block;
width: 176px;
height: 177px;
background-color: transparent;
word-wrap: break-word;
float: left;
margin-right: 0px;
margin-top: 4px;
font-size: 25px;
opacity: 1;
margin-left: 18px;
}

.floatLeft {
    float: left;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 7px;
}

.navbar {	
	
    float: right;
	right: 1%;
	z-index: 1;
    top: -81px;
    height: 27px;
    width: 623px;
    margin-top: 52px;
    margin-bottom: 66px;
}

.navbar2 {	
    float: left;	
	top: 18%;	
	z-index:1;
    width: 753px;
    height: 34px;
    margin-left: 585px;
    margin-top: 0px;
    margin-bottom: 14px;
}

.center {	   
    left: 20%;
	top: 50%;	
    height: 148px;
}

/*Hyperlink and Linkbutton style*/
a.headerLink:link {
    color: white; 
    text-decoration: none
}

a.headerLink:visited {
    color: white; 
    text-decoration: none
}

a.headerLink:hover {
    color: red; 
    text-decoration: none
}

a.headerLink:active {
    color: white; 
    text-decoration: none
}

a.navbarLink:link {
    color: white; 
    text-decoration: none
}

a.navbarLink:visited {
    color: white; 
    text-decoration: none
}

a.navbarLink:hover {
    color: black; 
    text-decoration: none
}

a.navbarLink:active {
    color: red; 
    text-decoration: none
}

a.footerLink:link {
    color: white; 
    text-decoration: none
}

a.footerLink:visited {
    color: white; 
    text-decoration: none
}

a.footerLink:hover {
    color: red; 
    text-decoration: none
}

a.footerLink:active {
    color: white; 
    text-decoration: none
}